<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=2.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>青岛市绿色高产高效创建信息服务平台</title>
    <script src="../_utils/config.js"></script>
    <link rel="stylesheet" type="text/css" href="../global.css">
    <script src="../../../vendors/jquery/jquery-1.12.4.js"></script>
    <script src="../../../vendors/art-template/template-web.js"></script>
    <script src="../_utils/utils.js"></script>
    <script src="../_utils/template.js"></script>
    <script src="../home/js/line_graph.js"></script>
    <script src="../_utils/constants.js"></script>
    <script src="../_utils/include.js"></script>
</head>
<body class="bg">
<div id="header"></div>
<div class="center w">
    <div class="title">
        <span>环境数据预警</span>
    </div>

    <div class="box">
        <form id="form" class="search" style="display: block">
    <span>区县：
        <!--选择区县-->
            <select name="regionCode" id="city">
                <option value="" selected="selected">--请选择--</option>
			    <option value="370211">西海岸新区(3+0)</option>
			    <option value="370281">胶州市(3+10)</option>
			    <option value="370282">即墨市(3+0)</option>
			    <option value="370283">平度市(2+2)</option>
			    <option value="370285">莱西市(2+10)</option>
            </select>
          </span>
            <!--选择地点-->
            <span>地点：
                <select name="wsid" id="town">
                    	<option value="78">市属莱西市夏格庄镇金色五谷家庭农场</option>
				</select>
            </span>
            <span id="time">
              时间：
               <input type="date" name="startTime" id="startTime">
                <i>至</i>
               <input type="date" name="endTime" id="endTime">
          </span>
            <button class="btn01" id="btn01" type="submit">
                <img src="../../asset/search_icon.png">查询
            </button>

            <button class="btn01" id="btn02" type="button" style="display: none">
                <img src="../../asset/export_icon.png">导出
            </button>

            <button class="btn01" id="btn03" type="button" style="display: none">
                <img src="../../asset/print_icon.png">打印
            </button>
        </form>

        <div class="table_box" id="t1">
            <table cellpadding="0" cellspacing="0" class="table">
                <thead>
                <tr>
                    <td>预警时间</td>
                    <td>作物名称</td>
                    <td>生育时期</td>
                    <td>环境数据</td>
                    <td>正常范围</td>
                    <td>温度预警</td>
                    <td>含水量</td>
                </tr>
                </thead>
                <tbody id="hjsj_box">

                </tbody>
            </table>
        </div>
        <div class="pageNum">
            <ul id="page">


            </ul>
        </div>
    </div>
</div>
<!--导入底部-->
<div id="footer"></div>

<!-- 表格模板 -->
<script type="text/template" id="hjsjTpl">
    {{each data}}
    <tr>
        <td>{{$imports.formatDate($value.jcsj)}}</td>
        <td>{{$value.zwName}}</td>
        <td>{{$value.sysq}}</td>
        <td style="width:230px;">
            空气温度{{$value.kqwd}}℃
            相对含水量{{$value.trhsL4}}%
        </td>
        <td style="width:180px;">
            {{$imports.replaceText($value.minrange,'',-100)}}℃~{{$imports.replaceText($value.maxrange,'',-100)}}℃
            {{$imports.replaceText($value.minhsl,'',-100)}}%~{{$imports.replaceText($value.maxhsl,'',-100)}}%
        </td>

        <td>
            {{if $value.yjyb=="高温"}}
            <div style="color: red">
                {{$value.yjyb}}
            </div>
            {{else if $value.yjyb=="适宜"}}
            <div style="color: green">
                {{$value.yjyb}}
            </div>
            {{else}}
                --
            {{/if}}
        </td>

        <td>
            {{if $value.hsl=="干旱"}}
            <div style="color: #f5a34a">
                <span>{{$value.hsl}}</span>
            </div>
            {{else if $value.hsl=="适宜"}}
            <div style="color: green">
                {{$value.hsl}}
            </div>
            {{else}}
            --
            {{/if}}
        </td>
    </tr>
    {{/each}}
</script>


<!-- 分页模板 -->
<script type="text/template" id="pageTpl">
    <li class="fiveword">总共({{total}})条</li>

    <li class="twoword"><a href="javascript:" onclick="changePage({{1}})">首页</a></li>

    {{if pageNow > 1}}
    <li class="threeword"><a href="javascript:" onclick="changePage({{pageNow - 1}})">上一页</a></li>
    {{/if}}

    {{if(pageNow - 3 > 0)}}
    <li><a href="javascript:" onclick="changePage({{pageNow - 3}})">{{pageNow - 3}}</a></li>
    {{/if}}

    {{if(pageNow - 2 > 0)}}
    <li><a href="javascript:" onclick="changePage({{pageNow - 2}})">{{pageNow - 2}}</a></li>
    {{/if}}

    {{if(pageNow - 1 > 0)}}
    <li><a href="javascript:" onclick="changePage({{pageNow - 1}})">{{pageNow - 1}}</a></li>
    {{/if}}

    <li class="curPage"><a href="javascript:" onclick="changePage({{pageNow}})">{{pageNow}}</a></li>

    {{if(pageNow + 1 <= pageTotal)}}
    <li><a href="javascript:" onclick="changePage({{pageNow + 1}})">{{pageNow + 1}}</a></li>
    {{/if}}

    {{if(pageNow + 2 <= pageTotal)}}
    <li><a href="javascript:" onclick="changePage({{pageNow + 2}})">{{pageNow + 2}}</a></li>
    {{/if}}

    {{if pageNow < pageTotal}}
    <li class="threeword"><a href="javascript:" onclick="changePage({{pageNow + 1}})">下一页</a></li>
    {{/if}}

    <li class="twoword"><a href="javascript:" onclick="changePage({{pageTotal}})">末页</a></li>

    <li style="border: transparent;margin-top:3px;    display: flex;"><span style="color: #ffc900;">{{pageNow}}</span>/{{pageTotal}}
    </li>
</script>


<script src="../_utils/district.js"></script>

<script src="_service/hjyj_index.js"></script>
<script src="_models/hjyj_index.js"></script>
</body>
</html>
